.cell{
    width: 15%;
    height: 350px;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 1px;

}
.cell img{
    width: 100%;
    height: 350px;
    object-fit: contain;
}
#last{
    width: 70%;
   
}
#book img{
    width: 70%;
    height: 260px;
    object-fit: contain;
}
.SLfooter{
    height: 450px;
    width: 100%;
   background-color:  #232f3e;
}
